<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images_ex/fav.png" />

    <!-- TITLE -->
    <title>KFWC Admin | Dashboard </title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="/static/assets/css/style.css" rel="stylesheet" />
    <link href="/static/assets/css/dark-style.css" rel="stylesheet" />
    <link href="/static/assets/css/transparent-style.css" rel="stylesheet">
    <link href="/static/assets/css/skin-modes.css" rel="stylesheet" />


    <!--- FONT-ICONS CSS -->
    <link href="/static/assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/assets/colors/color1.css" />

    <link href="/static/assets/css/style-custom.css" rel="stylesheet" />
</head>

<body class="app sidebar-mini ltr light-mode">


    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="app-header header sticky">
                <div class="container-fluid main-container">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
                            href="javascript:void(0)"></a>
                        <!-- sidebar-toggle-->
                        <a class="logo-horizontal " href="index.php">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo1" alt="logo">
                        </a>

                        <div class="d-flex order-lg-2 ms-auto header-right-icons">
                            <!-- SEARCH -->
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                            </button>
                            <div class="navbar navbar-collapse responsive-navbar p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <div class="d-flex order-lg-2">


                                        <div class="d-flex country">
                                            <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                                <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                                <span class="light-layout"><i class="fe fe-sun"></i></span>
                                            </a>
                                        </div>


                                        <!-- SIDE-MENU -->
                                        <div class="dropdown d-flex profile-1">
                                            <a href="javascript:void(0)" data-bs-toggle="dropdown"
                                                class="nav-link leading-none d-flex">
                                                <img src="/static/assets/images_ex/user.png" alt="profile-user"
                                                    class="avatar  profile-user brround cover-image">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <div class="drop-heading">
                                                    <div class="text-center">
                                                        <h5 class="text-dark mb-0 fs-14 fw-semibold">Username</h5>
                                                        <small class="text-muted">Web Admin</small>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a class="dropdown-item" href="profile.php">
                                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                                </a>
                                                <a class="dropdown-item" href="">
                                                    <i class="dropdown-icon fe fe-globe"></i> Website
                                                </a>

                                                <a class="dropdown-item" href="login.html">
                                                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /app-Header -->

            <!--APP-SIDEBAR-->
            <div class="sticky">
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="app-sidebar">
                    <div class="side-header">
                        <!-- LOGO start -->
                        <a class="header-brand1" href="index.php">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img toggle-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo1" alt="logo">
                        </a>
                        <!-- LOGO  end-->
                    </div>
                    <div class="main-sidemenu">
                        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                                fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                            </svg></div>
                        <ul class="side-menu">
                            <li class="sub-category">
                                <h3>Main</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'index' %}"><i
                                        class="side-menu__icon fe fe-home"></i><span
                                        class="side-menu__label">Dashboard</span></a>
                            </li>

                           
                           
                          
                              <!-- Short Term Course-->
                              <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'view_courses' %}"><i
                                        class="side-menu__icon fa fa-book"></i><span
                                        class="side-menu__label">Short Term Course</span></a>
                            </li>
                           
                          
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                            </svg></div>
                    </div>
                </div>
                <!--/APP-SIDEBAR-->
            </div>







<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Short Term Course Edit </h1>
                <a href="short-course-view.php" class="btn btn-danger btn-pill">View</a>

            </div>
            <!-- PAGE-HEADER END -->



            <form method="POST" action={% url 'edit_course' course.id %} class="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- IMAGE UPLOADER -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Image Upload</h3>
                            </div>
                            <div class=" card-body">
                                <div class="row mb-5">
                                    <div class="col-lg-12 col-sm-12 mb-4 mb-lg-0">
                                        <input type="file" name='image' class="dropify" data-bs-height="180" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- IMAGE UPLOADER end -->

                    <!-- DETAILS START -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Edit your Short Term Course  : {{course.title}}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <!--  Title -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label"> Title</label>
                                            <input type="text" name='title' class="form-control" 
                                            placeholder="{% if course.title %}{{ course.title }}{% else %}Enter course title{% endif %}"
                                            value="{% if course.title %}{{ course.title }}{% else %}Enter course title{% endif %}"
                                            >
                                        </div>
                                    </div>
                                    <!--  Subtitle -->
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Subtitle</label>
                                            <input type="text" name='subtitle' class="form-control"  
                                            placeholder="{% if course.subtitle %}{{ course.subtitle }}{% else %}Enter course subtitle{% endif %}"
                                            value="{% if course.subtitle %}{{ course.subtitle }}{% else %}Enter course subtitle{% endif %}">
                                        </div>
                                    </div>

                                    <!-- Description -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Description</label>
                                            <div id="summernote">

                                            </div>
                                        </div>
                                    </div>
                                  

                                    <div class="form-group">


                                        <div class="multi-field-wrapper ">
                                            <div class="multi-fields">
                                                <div class="multi-field">
                                                <div class="row">
                                                <div class="col-lg-6" style="padding-right:0px">
                                                    <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="text" name="amount" class="form-control form-control-lg"  
                                                        placeholder="{% if course.amount %}{{ course.amount }}{% else %}Enter course amount{% endif %}"
                                                        value="{% if course.amount %}{{ course.amount }}{% else %}Enter course amount{% endif %}">
                                                    </div>
                                                    </div>

                                                    <div class="col-lg-6" style="padding-right:0px">
                                                    <div class="form-group">
                                                        <label>Amount</label>
                                                    
                                                        <textarea class="form-control mb-4" name='amount_text' 
                                                        placeholder="{% if course.amount_text %}{{ course.amount_text }}{% else %}Enter course amount INT text{% endif %}" 
                                                        value="{% if course.amount_text %}{{ course.amount_text }}{% else %}Enter course amount INT text{% endif %}"  ></textarea>
                                                    </div>
                                                    </div>

                                                </div>
                                                <button type="button"
                                                    class="remove-field float-right btn btn-danger btn-sm icon-btn ml-2 "><i
                                                    class="mdi mdi-delete"></i></button>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="button" type="button"
                                                class=" add-field btn btn-info btn-sm icon-btn ml-2 mb-2">
                                                Add New<i class="mdi mdi-plus"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                   

                                    <!-- status -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Status</label>
                                            <select class="form-control select2" name='status' data-placeholder="Status">
                                                <option value="Enable">Enable</option>
                                                <option value="Disable">Disable</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- SUBMIT START -->
                                    <div class="col-lg-12 ">
                                        <div class="mt-5">
                                            <a href="" class="btn btn-default btn-pill">Cancel</a>
                                            <button type='submit' class="btn btn-warning btn-pill">Update</button>
                                        </div>
                                    </div>
                                     <!-- SUBMIT END -->


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DETAILS END -->


                </div>

            </div>
        </form>


    </div>
    <!-- CONTAINER END -->
</div>
</div>
<!--app-content close-->

<?php include("footer.php"); ?>
<script>
    $('.multi-field-wrapper').each(function () {
      var $wrapper = $('.multi-fields', this);
      $(".add-field", $(this)).click(function (e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input,textarea').val('')
          .focus();
      });
      $('.multi-field .remove-field', $wrapper).click(function () {
        if ($('.multi-field', $wrapper).length > 1)
          $(this).parent('.multi-field').remove();
      });
    });
  </script>

  