<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images_ex/fav.png" />

    <!-- TITLE -->
    <title>KFWC Admin | Dashboard </title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="/static/assets/css/style.css" rel="stylesheet" />
    <link href="/static/assets/css/dark-style.css" rel="stylesheet" />
    <link href="/static/assets/css/transparent-style.css" rel="stylesheet">
    <link href="/static/assets/css/skin-modes.css" rel="stylesheet" />


    <!--- FONT-ICONS CSS -->
    <link href="/static/assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/assets/colors/color1.css" />

    <link href="/static/assets/css/style-custom.css" rel="stylesheet" />
</head>

<body class="app sidebar-mini ltr light-mode">


    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="app-header header sticky">
                <div class="container-fluid main-container">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
                            href="javascript:void(0)"></a>
                        <!-- sidebar-toggle-->
                        <a class="logo-horizontal " href="index.php">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo1" alt="logo">
                        </a>

                        <div class="d-flex order-lg-2 ms-auto header-right-icons">
                            <!-- SEARCH -->
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                            </button>
                            <div class="navbar navbar-collapse responsive-navbar p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <div class="d-flex order-lg-2">


                                        <div class="d-flex country">
                                            <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                                <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                                <span class="light-layout"><i class="fe fe-sun"></i></span>
                                            </a>
                                        </div>


                                        <!-- SIDE-MENU -->
                                        <div class="dropdown d-flex profile-1">
                                            <a href="javascript:void(0)" data-bs-toggle="dropdown"
                                                class="nav-link leading-none d-flex">
                                                <img src="/static/assets/images_ex/user.png" alt="profile-user"
                                                    class="avatar  profile-user brround cover-image">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <div class="drop-heading">
                                                    <div class="text-center">
                                                        <h5 class="text-dark mb-0 fs-14 fw-semibold">Username</h5>
                                                        <small class="text-muted">Web Admin</small>
                                                    </div>
                                                </div>
                                                <div class="dropdown-divider m-0"></div>
                                                <a class="dropdown-item" href="profile.php">
                                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                                </a>
                                                <a class="dropdown-item" href="">
                                                    <i class="dropdown-icon fe fe-globe"></i> Website
                                                </a>

                                                <a class="dropdown-item" href="login.html">
                                                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /app-Header -->

            <!--APP-SIDEBAR-->
            <div class="sticky">
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="app-sidebar">
                    <div class="side-header">
                        <!-- LOGO start -->
                        <a class="header-brand1" href="index.php">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img toggle-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo" alt="logo">
                            <img src="/static/assets/images_ex/logo.png" class="header-brand-img light-logo1" alt="logo">
                        </a>
                        <!-- LOGO  end-->
                    </div>
                    <div class="main-sidemenu">
                        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                                fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                            </svg></div>
                        <ul class="side-menu">
                            <li class="sub-category">
                                <h3>Main</h3>
                            </li>
                            <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'index' %}"><i
                                        class="side-menu__icon fe fe-home"></i><span
                                        class="side-menu__label">Dashboard</span></a>
                            </li>

                           
                           
                          
                              <!-- Short Term Course-->
                              <li class="slide">
                                <a class="side-menu__item has-link" data-bs-toggle="slide" href="{% url 'view_courses' %}"><i
                                        class="side-menu__icon fa fa-book"></i><span
                                        class="side-menu__label">Short Term Course</span></a>
                            </li>
                           
                          
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                            </svg></div>
                    </div>
                </div>
                <!--/APP-SIDEBAR-->
            </div>







<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Short Term Course View</h1>
                <a href="{% url 'create_courses' %}" class="btn btn-danger btn-pill">Add <i class="fa fa-plus"></i></a>

            </div>
            <!-- PAGE-HEADER END -->


            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Short Term Course Table</h3>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Image</th>
                                                <th>Title</th>
                                                <th>Subtitle</th>
                                                <th>Description</th>
                                                <th>Details</th>



                                                <th>Satus</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TABLE DETAILS -->
                                            {% for x in courses %}
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        {% if x.images and x.images.url %}
                                                            <img class="d-block img-fluid br-5 img-td" src="{{ x.images.url }}" alt="">
                                                        {% else %}
                                                            <img class="d-block img-fluid br-5 img-td" src="assets/images_EX/Banner11.jpg" alt="">
                                                        {% endif %}
                                                    </td>
                                                    
                                                    <td>{{x.title}}</td>
                                                    <td>
                                                        {{ x.subtitle }}
                                                    </td>

                                                    <td><a class="btn btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#description">
                                                            <i class="side-menu__icon fe fe-eye text-white"></i>
                                                        </a>
                                                    </td>
                                                    <td><a class="btn btn-dark" data-bs-toggle="modal"
                                                            data-bs-target="#crsdetail">
                                                            <i class="side-menu__icon fe fe-list text-white"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {% if x.status == 'Enable' %}
                                                        <a href=""><span class="btn btn-success">Active</span></a>
                                                        {% elif x.status == 'Disable' %}
                                                        <a href=""> <span class="btn btn-danger">Inactive</span></a>
                                                        {% endif  %}
                                                    </td>
                                                    <td>
                                                        <a class=" btn btn-info" href="{% url 'edit_course' x.id %}">
                                                            <i class="side-menu__icon fe fe-edit"></i>
                                                        </a>

                                                        <a class="btn btn-danger" href="{% url 'delete_course' x.id  %}"  
                                                            >
                                                            <i class="side-menu__icon fe fe-trash text-white"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <!-- TABLE DETAILS END -->
                                        </tbody>
                                    </table>

                                </div>
                                <div class="card-body">

                                    <ul class="pagination">
                                        {% if courses.has_previous %}
                                        <li class="page-item page-prev">
                                            <a class="page-link" href="?page=1" tabindex="-1">First</a>
                                        </li>
                                        <li class="page-item page-prev">
                                            <a class="page-link" href="?page={{ courses.previous_page_number }}">Previous</a>
                                        </li>
                                        {% endif %}
                                
                                        {% for num in courses.paginator.page_range %}
                                        <li class="page-item {% if num == courses.number %}active{% endif %}">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                        {% endfor %}
                                
                                        {% if courses.has_next %}
                                        <li class="page-item page-next">
                                            <a class="page-link" href="?page={{ courses.next_page_number }}">Next</a>
                                        </li>
                                        <li class="page-item page-next">
                                            <a class="page-link" href="?page={{ courses.paginator.num_pages }}">Last</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    <!-- pagination-wrapper -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->



    <div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                    <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                    <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="confirmDelete" class="btn btn-success">Yes</button>
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    

    <!-- MESSAGE MODAL -->
    <div class="modal  fade" id="description" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>

                    <h4 class="text-primary">Description</h4>
                    <p class="mg-b-20 mg-x-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                </div>

            </div>
        </div>
    </div>

    <!-- Course Detail  MODAL -->
    <div class="modal  fade" id="crsdetail" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</td>
                                
                            </tr>
                            <tr>
                            <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</td>
                                
                            </tr>
                            <tr>
                            <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</td>
                             </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer justify-content-center">
               
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>


</div>

      
<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Copyright © <span id="year"></span> <a href="">KFWC</a> All rights reserved.
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->

</div>

<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JQUERY JS -->
<script src="/static/assets/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="/static/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- SPARKLINE JS-->
<script src="/static/assets/js/jquery.sparkline.min.js"></script>

<!-- Sticky js -->
<script src="/static/assets/js/sticky.js"></script>



<!-- SIDEBAR JS -->
<script src="/static/assets/plugins/sidebar/sidebar.js"></script>




<!-- INTERNAL SELECT2 JS -->
<script src="/static/assets/plugins/select2/select2.full.min.js"></script>





<!-- INTERNAL Bootstrap-Datepicker js-->
<script src="/static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- INTERNAL Bootstrap-Datepicker js-->
<script src="/static/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<!-- DATEPICKER JS -->
<script src="/static/assets/plugins/date-picker/date-picker.js"></script>
<script src="/static/assets/plugins/date-picker/jquery-ui.js"></script>
<script src="/static/assets/plugins/input-mask/jquery.maskedinput.js"></script>




<!-- INTERNAL Vector js -->
<script src="/static/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/static/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- SIDE-MENU JS-->
<script src="/static/assets/plugins/sidemenu/sidemenu.js"></script>

<!-- TypeHead js -->
<!-- <script src="/static/assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
<script src="/static/assets/js/typehead.js"></script> -->

<!-- INTERNAL INDEX JS -->
<!-- <script src="/static/assets/js/index1.js"></script> -->

<!-- FILE UPLOADES JS -->
<script src="/static/assets/plugins/fileuploads/js/fileupload.js"></script>
<script src="/static/assets/plugins/fileuploads/js/file-upload.js"></script>

<!-- SELECT2 JS -->
<script src="/static/assets/plugins/select2/select2.full.min.js"></script>
<script src="/static/assets/js/select2.js"></script>

<!-- COLOR PICKER JS -->
<script src="/static/assets/plugins/pickr-master/pickr.es5.min.js"></script>
<script src="/static/assets/js/picker.js"></script>

<script src="/static/assets/js/formelementadvnced.js"></script>
<script src="/static/assets/js/form-elements.js"></script>
<!-- Color Theme js -->
<script src="/static/assets/js/themeColors.js"></script>


<!-- CUSTOM JS -->
<script src="/static/assets/js/custom.js"></script>
<script src="/static/assets/plugins/summernote/summernote1.js"></script>
<script src="/static/assets/js/summernote.js"></script>
<script>
$('#colorpicker').spectrum({
color: '#000'
});

</script>
<script type="text/javascript">
$('.inline-datepicker-example').datepicker({
format: "dd/mm/yyyy",
todayBtn: "linked",
language: "endinject",

todayHighlight: true,
}).on('changeDate', showTestDate);

function showTestDate(){
var value = $('#inline-datepicker-example').datepicker('getFormattedDate');
$("#showDate").html(value);
//$("#showDate").val(value);  for passing  input value

}

</script>



</body>

</html>